.header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 130px;
	padding: 30px 140px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.logoWrapper {
			display: flex;
			align-items: center;
		

			.logo {
				width: 170px;
				margin-right: 27px;
			}

			.name {
				height: 42px;
				padding: 0 20px;
				font-size: 2.375rem;
				font-weight: bold;
				line-height: 1;
				color: var(--color-midBlue);
				border-left: 1px solid var(--color-gray80);
			}
		}

		.appLinks {
			display: flex;
			align-items: center;
		}
	}

	@media screen and (max-width: 1024px) {
		padding: 20px 40px;
	}


	@media screen and (max-width: 658px) {
		height: unset;
		padding: 30px 40px 20px;

		&__container {
			justify-content: center;
			flex-wrap: wrap;

		.logo {
			width: 128px;
			margin-right: 36px;
		}

			.appLinks {
				margin-top: 50px;
			}
		}
	}
}
