html {
	font-size: var(--font-base);
}


body {
	font-family: var(--font-primary);
	-webkit-font-feature-settings: "calt",
		"dlig",
		"liga",
		"ss02";
	font-feature-settings: "calt",
		"dlig",
		"liga",
		"ss02";
	color: var(--color-gray3F);
}
