:root {
	--font-primary: 'Moderat', sans-serif;
	--font-secondary: Verdana, Geneva, sans-serif;
	--font-base: 16px;
	--color-gray33: #333333;
	--color-gray4D: #4D4D4D;
	--color-gray70: #707070;
	--color-gray80: #808080;
	--color-gray99: #999999;
	--color-grayE6: #E6E6E6;
	--color-darkBlue: #001446;
	--color-midBlue: #001E62;
	--color-blue: #0A46DC;
	--transition-35: all .35s ease-in-out;
	--transition-6: all .6s ease-in-out;
}

