.banner {
	padding: 80px 0 40px 40px;
	background-image: url(/images/bg-banner.png);
	background-position: center;
	background-size: cover;

	&__container {
		display: grid;
		grid-template-columns: auto minmax(300px, 496px);
		grid-template-rows: repeat(2, auto);
		grid-gap: 0 60px;
		max-width: 946px;
		margin: auto;
	}

	&__body {
		color: #fff;

		.title {
			margin-bottom: 30px;

			&__first {
				margin-left: 20px;
				font-size: clamp(35px, 4.54vw, 62px);
				font-weight: bold;
			}

			&__last {
				font-size: clamp(26px, 3.37vw, 46px);
				font-weight: 300;
			}
		}

		.body {
			max-width: 300px;
			margin-top: 30px;
			font-size: clamp(20px, 2.49vw, 34px);
			font-weight: 300;
		}
	}

	&__appLinks {
		grid-column: 1/2;
		grid-row: 2/3;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 40px;
		list-style: none;
	}

	&__image {
		grid-column: 2/3;
		grid-row: 1/-1;
		
		img {
			width: min(100%, 496px);
		}
	}

	@media (max-width: 768px) {
		padding: 50px 0 40px 40px;

		&__container {
			grid-template-columns: 1fr;
		}

		&__appLinks {
			grid-row: 3/4;
			justify-content: center;
			margin-top: 20px;
		}

		&__image {
			grid-column: 1/2;
			grid-row: 2/3;
			margin: 30px auto 0;
		}
	}
}